@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Adiciona customização para a barra de rolagem */
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Um tom de cinza claro */
  border-radius: 10px;
}

.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #f7fafc; /* Um cinza bem claro */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}
